snippet hi "greeting" b
Hi,

$1
endsnippet

snippet interestedmeeting "standard gretting" b
My name is Alok Singh. ${2:I study math at UC Berkeley.}

I ${3: saw X about you} and I'm interested in meeting you whenever you have
some spare time.

Please let me know and I look forward to seeing you in person.
endsnippet
