snippet weeklyreview "weekly review" b
# TODO
- [] $1

## Mon

## Tue

## Wed

## Thu

## Fri

## Sat

## Sun
endsnippet

snippet hp "do hw problems" b
- [] do $1 problems of $2 hw
endsnippet

snippet hw "do hw" b
- [] do $1 hw
endsnippet

snippet wb "webcast" b
- [] watch $1 webcast
endsnippet

snippet rd "reading" b
- [] do reading for $1
endsnippet

snippet nt "notes" b
- [] go over $1 notes
endsnippet
